<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/index1.css">
	<title>TBFBapp</title>

</head>

<body>
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '195024384223971',
	      xfbml      : true,
	      version    : 'v2.5'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	<div class="main">
		<div class="content">
			<div class="TBlogo">

			</div>
			<div class="textbox">
				<h2>あなたにぴったりな<br>旅先を診断してみよう！</h2>

			</div>
			<div class="pushbutton">
        <p class="pushtext"><%= link_to "診断スタート",page_result_path,:style => "color: white;"%></p>
			</div>
		</div>
	</div>

</body>
</html>
